# Environment
.env
.env.*
!.env.example

# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Tests
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db